<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aliyun.OSS.SDK" version="2.14.1" manuallyInstalled="true" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.660" manuallyInstalled="true" />
  <package id="ExifLibrary" version="1.0.13" manuallyInstalled="true" />
  <package id="Magick.NET-Q8-AnyCPU" version="14.9.1" manuallyInstalled="true" />
  <package id="Magick.NET.Core" version="14.9.1" />
  <package id="MessagePack" version="3.1.4" manuallyInstalled="true" />
  <package id="MessagePack.Annotations" version="3.1.4" />
  <package id="MessagePackAnalyzer" version="3.1.4" />
  <package id="Microsoft.NET.StringTools" version="17.11.4" />
  <package id="NPinyin.Core" version="3.0.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="8.0.0" />
</packages>